<div>
  <div class="submit-form">
    <div *ngIf="!returned">
      <div class="form-group">
        <label for="book">Book</label>
        <input
          type="text"
          class="form-control"
          id="book"
          required
          [(ngModel)]="book"
          name="book"
        />
      </div>

      <div class="form-group">
        <label for="user">User</label>
        <input
          class="form-control"
          id="user"
          required
          [(ngModel)]="user"
          name="user"
        />
      </div>

      <button (click)="updateReservation()" class="btn btn-success">Return</button>
    </div>

    <div *ngIf="returned">
      <h4>Book was returned successfully!</h4>
      <button class="btn btn-success" (click)="newReservation()">Continue</button>
    </div>
  </div>
</div>


