#num2{
  background-color: bisque;
  margin: 100px;
  width: 600px;
  height: 400px;
  right: 20%;
}

#num3{
  width: 50%;
  position: relative;
  left: 25%;
}

#num4{
  width: 50%;
  position: relative;
  left: 25%;
}

#num5{
  width: 50%;
  position: relative;
  left: 25%;
}

#num6{
  width: 50%;
  position: relative;
  left: 25%;
}

#num7{
  width: 50%;
  position: relative;
  left: 25%;
}

.col-md-12 {
  font-family: arial;
  font-size: 18px;
  margin: 100px;
  width: 600px;
  height: 300px;
  left: 15%;
}

form{
  text-align: center;
}

h1{
  text-align: center;
  margin: 100px;
}
